trigger:
  branches:
    include:
      - master

pool:
  name: 'selfhosted'   # Your Windows agent pool

variables:
  azureSubscription: 'arm service'

  # ACR
  acrName: 'lakshmanacr'
  acrLoginServer: 'lakshmanacr.azurecr.io'
  imageRepository: 'grilli'
  imageTag: '$(Build.BuildId)'

  # Azure Resources
  resourceGroup: 'DevOps'
  containerAppName: 'grilli'
  containerAppEnv: 'managedEnvironment-DevOps-b5f4'
  appServiceName: 'griilicontainer'

############################################################
# STAGE 1 - BUILD
############################################################
stages:
- stage: Build
  displayName: "Build Docker Image"
  jobs:
  - job: BuildImage
    steps:
    - checkout: self

    - powershell: |
        Write-Host "Building Docker image..."
        docker build -t $(imageRepository):$(imageTag) .
      displayName: "Docker Build"

############################################################
# STAGE 2 - PUSH TO ACR
############################################################
- stage: Push
  displayName: "Push to Azure Container Registry"
  dependsOn: Build
  jobs:
  - job: PushImage
    steps:
    - task: AzureCLI@2
      displayName: "Login and Push to ACR"
      inputs:
        azureSubscription: '$(azureSubscription)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |
          Write-Host "Logging into ACR..."
          az acr login --name $(acrName)

          Write-Host "Tagging image..."
          docker tag $(imageRepository):$(imageTag) `
            $(acrLoginServer)/$(imageRepository):$(imageTag)

          Write-Host "Pushing image..."
          docker push $(acrLoginServer)/$(imageRepository):$(imageTag)

############################################################
# STAGE 3 - DEPLOY TO CONTAINER APPS
############################################################
- stage: Deploy_ContainerApps
  displayName: "Deploy to Azure Container Apps"
  dependsOn: Push
  jobs:
  - job: DeployCA
    steps:
    - task: AzureCLI@2
      displayName: "Update Container App"
      inputs:
        azureSubscription: '$(azureSubscription)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |

          az containerapp update `
            --name $(containerAppName) `
            --resource-group $(resourceGroup) `
            --image $(acrLoginServer)/$(imageRepository):$(imageTag)

############################################################
# STAGE 4 - DEPLOY TO APP SERVICE
############################################################
- stage: Deploy_AppService
  displayName: "Deploy to Azure App Service"
  dependsOn: Push
  jobs:
  - job: DeployWebApp
    steps:
    - task: AzureCLI@2
      displayName: "Configure Web App Container"
      inputs:
        azureSubscription: '$(azureSubscription)'
        scriptType: 'ps'
        scriptLocation: 'inlineScript'
        inlineScript: |

          Write-Host "Configuring App Service to use new image..."

          az webapp config container set `
            --name $(appServiceName) `
            --resource-group $(resourceGroup) `
            --docker-custom-image-name $(acrLoginServer)/$(imageRepository):$(imageTag) `
            --docker-registry-server-url https://$(acrLoginServer)

          Write-Host "Restarting App Service..."
          az webapp restart `
            --name $(appServiceName) `
            --resource-group $(resourceGroup)
